@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');

.team-section {
    background-color: white;
    padding: 0 px;
    margin: 0 0 32px 0;
    text-align: center;
    margin-left: 6%;
  }
  
  
  .dt-title-content {
    margin: 0 0 64px 0;
  }
  
  .dt-title {
    font-family: Poppins;
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 0.7px;
  }
  
  .dt-title > span {
    position: relative;
  }
  
  .dt-title span::before {
    content: '';
    position: absolute;
    width: 48%;
    height: 5px;
    background-color: #0D7D04;
    border-radius: 8px;
    left: 0;
    bottom: -6px;
  }
  
  .dt-description {
    margin: 64px auto 0;
    text-align: center;
    color: rgb(77, 75, 75);
    font-family: Poppins;
    font-size: 20px;
    letter-spacing: 0.2px;
    line-height: 1.8rem;
  }
  
  
  .dt-cards-content {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 20px;
  }
  
  
  .dt-card {
    width: 332px;
    height: auto;
    text-align: left;
    font-family: Poppins;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
  }
  
  .dt-card:hover {
    transform: translateY(-5px);
  }
  
  .dt-card-img {
    width: 191px;
    height: auto;
    border-radius: 20px 20px 0 0;
  }
  
  .dt-card-name {
    margin: 12px 0 0 0;
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 0.7px;
    font-family: Poppins;
  }
  
  .dt-card-title {
    margin: 6px 0 8px;
    color: #494949;
    font-family: Poppins;
    font-size: 18px;
    letter-spacing: 0.7px;
  }
  
  
  @media screen and (max-width: 700px) {
    .dt-title {
      font-size: 32px;
    }
  
    .dt-description {
      margin: 48px 0 0;
      text-align: left;
      font-size: 18px;
    }
    .dt-card {
      flex: 0 0 auto;
      margin-right: 20px;
    }
    .dt-cards-content {
        display: flex;
        flex-direction: column;
        gap: 32px;
        max-width: 100%;
        padding-bottom: 20px;
      }
  }
  
  
  
  
  @media (max-width: 768px) {
    .team-section {
   overflow-x: hidden;
    }
    .dt-cards-content {
      flex-direction: column; 
      display: grid;
      gap: 20px;
      grid-template-columns: repeat(2,1fr);
      align-items: center;
      position: relative;
      left: 62px;
    }
  

  .dt-title{
    margin-right: 10px;
  }
    .dt-card {
      width: 100%; 
    }
    .dt-cards-content :nth-child(5) {
      margin-left: 50%;
    }
 
    .dt-description{
      margin-right: 60px;
      text-align: left;
    }
  }

  @media screen and (max-width: 700px) {
    .dt-title {
      font-size: 32px;
    }
  
    .dt-description {
      margin: 58px 0 0;
      font-size: 18px;
    }
    .dt-card {
      flex: 0 0 auto;
      margin-right: 20px;
    }
    .dt-cards-content {
      display: flex;
      flex-direction: column;
      gap: 32px;
      max-width: 100%;
      margin: 0 15px; 
      position: relative;
      left: 128px;
      padding-bottom: 20px;
  }
  
  }
  
  
  @media screen and (min-width: 280px)  and (max-width:380px){
    .dt-title {
      font-size: 10px;
    }
    .team-section {
      background-color: white;
      padding: 0 px;
      margin: 0 0 32px 0;
      text-align: center;
      margin-left: 10%;
    }
    .dt-cards-content :nth-child(5) {
      margin-left: 30%;
    }
    .dt-description {
      margin: 16px auto 0;
      font-size: 8px;
      text-align: left;
      margin-left: 30px;
      line-height: 1.2rem;
    }
    .dt-card {
      width: 100%;
    }
    .dt-cards-content {
      display: flex;
      flex-direction: column;
      gap: 32px;
      max-width: 100%;
      position: relative;
      left: 30px;
      padding-bottom: 20px;
  }
  .dt-card-title{
    font-size: 15px;
  }
  .dt-card-name{
    font-size: 15px;
  }
  
  }
  

    
  @media screen and (min-width: 390px)and (max-width: 420px)  {
  
  .team-section {
    background-color: white;
    padding: 0 px;
    margin: 0 0 32px 0;
    text-align: center;
    margin-left: 20%;
  }
  .dt-cards-content :nth-child(5) {
    margin-left: 0;
  }
  }
  
  
  @media screen and (max-width: 667px) {
    .dt-title {
      font-size: 32px;

    }
  
    .dt-description {
      margin: 48px 0 0;
      text-align: left;
      font-size: 18px;

padding-left: 35px;
    }
    .dt-card-name{
padding-left: 30px;
    }
    .dt-card-title{
      padding-left: 20px;
          }
    .dt-card-img {
      flex: 0 0 auto;
      margin-left: -10px;
    }
    .dt-cards-content :nth-child(5) {
      margin-left: 80px;
    }
    .dt-cards-content{
      display: flex;
      flex-direction: column;
      gap: 32px;
      max-width: 100%;
      margin-left: -10px;
      padding-bottom: 20px;
    }
  
  }

@media screen and (max-width: 380px) {

.dt-cards-content{
  display: flex;
  flex-direction: column;
  max-width: 100%;
  position: absolute;
  left: 30px;
/* right: 40px; */
  padding-bottom: 20px;
}
.dt-title{
  font-size: 29px !important ;
}
.dt-card-name{
  margin-left: -30px;
}
.dt-card-title{
  margin-left: -30px;
}
.dt-card{
  margin-left: 80px;
}

  }

  
  @media screen and (max-width: 520px) {

    .dt-cards-content{
      display: flex;
      flex-direction: column;
      max-width: 100%;
      position: relative;
      left: 55px;
      padding-bottom: 20px;
    }
    .dt-title{
      font-size: 29px !important ;
    }
    .dt-description{
      margin-right: 20px;
      /* text-align: center; */
    }
    
    .dt-card-name{
      margin-left: -40px;
    }
    .dt-card-title{
      margin-left: -30px;
    }
    
      }
    
      @media screen and (max-width: 360px) {

        .dt-cards-content{
          display: flex;
          flex-direction: column;
          max-width: 100%;
          position: absolute;
          left: 70px;
        /* right: 40px; */
          padding-bottom: 20px;
        }
      }
    
      @media screen and (min-width: 820px) and (max-width :1080px) {

        .team-section {
          overflow-x: hidden;
           }
           .dt-cards-content {
             flex-direction: column; 
             display: grid;
             gap: 20px;
             grid-template-columns: repeat(2,1fr);
             align-items: center;
             position: relative;
             left: 62px;
           }
         
       
         .dt-title{
           margin-right: 10px;
         }
           .dt-card {
             width: 100%; 
           }
       
           .dt-cards-content :nth-child(5) {
             margin-left: 50%;
           }
           .dt-description{
             margin-right: 60px;
             text-align: left;
           }
      }
     