
.section-container {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.hero-section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.text-section {
  text-align: center;
  z-index: 1;
}

.text-content {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
 
 
}

.text-title {
  font-size: 5rem;
  margin-bottom: 10px;
  color: white; 
}

.text-description {
  font-size: 1.3rem;
  margin-bottom: 20px;
  color: white; 
}

.text-appointment-btn {
  background-color: #007bff;
  color: white; 
  font-size: 1rem;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}


@media (max-width: 768px) {
  .text-title {
    font-size: 2rem;
  }

  .text-description {
    font-size: 1rem;
  }

  .text-appointment-btn {
    font-size: 0.9rem;
  }
}


@media (max-width: 576px) {
  .text-title {
    font-size: 1.2rem;
  }

  .text-description {
    font-size: 0.9rem;
  }

  .text-appointment-btn {
    font-size: 0.8rem;
  }
}
